<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container" onclick="onclick">
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="center">
        <h2>{{ title }}</h2>
        <form action="{{ primary_action }}" method="POST">
            <input type="email" placeholder="email" name="email"/>
            <input type="password" placeholder="password" name="password"/>
            <input type="submit" value="{{ primary_title }}">
        </form>
        <a href="{{ secondary_action }}"><h4>{{ secondary_title }}</h4></a>
        </div>
      </div>
</body>
</html>
