[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = "*"
python-multipart = "*"
passlib = "*"
pyjwt = "*"
uvicorn = {extras = ["standard"], version = "*"}
bcrypt = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
